body {
  background-color: #f7f7f7;
  font-family: "Lato", sans-serif;
}
#container {
  background-color: white;
  width: 30%;
  margin: auto;
  border: 2px solid transparent;
  font-family: sans-serif;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 30px;
  padding: 30px;
}

#button {
  width: 40%;
  height: 45px;
  border-radius: 5px;
  margin: auto;
  margin-top: 35px;
  background-color: #e40046;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 30px;
 
}
h2 {
  padding: 30px;
}
#container p {
  color: grey;
  font-size: 12px;
  margin-bottom: 25px;
}

.icons {
  font-size: 38px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.icons img {
  width: 50px;
}

.fa-facebook {
  color: #3B5998;
  padding-top: 5px;
  padding-right: 10px;
}

form{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}

form > input {
    height: 25px;
    border-radius: 5px;
    border: 1px solid #808080;
    outline: none;
    width: 70%;
    margin: auto;
  }
  button{
    cursor: pointer;
}